# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cmjd89\Hotel try 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
